<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Requested Orders</th>
                        <th class="text-center">Requested Price</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Action</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <%if(orders==null){%>
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">Nothing to Show</a></h4>
                                </div>
                            </div>
                        </td>
                        <%}else{%>
                        <%orders.forEach(function(order){%>
                        <%var ad = order.ad%> 
                        <% ad.forEach(function(ad){ %>
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left" href="#"> <img class="media-object" src="/book/image/<%= ad.image %>" style="width: 72px; height: 72px;"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#"><%= ad.book_name %></a></h4>
                                    <h5 class="media-heading"> Requested by <a href="#"><%= ad.postedUser %></a></h5>
                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>&#x20B9 <%= order.price %></strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong><%= order.status %></strong></td>
                        <td class="col-sm-1 col-md-1">
                        <%if(order.status=='pending'){%>
                            <a href="/requestedorders/approve/<%=order._id%>">
                            <button type="button" id="approve" class="btn btn-success">
                                <span class="glyphicon glyphicon-remove"></span>
                                <i class="fa fa-check"></i>
                            </button>
                            </a>
                            <a href="/requestedorders/reject/<%=order._id%>">
                            <button type="button" id="reject" class="btn btn-danger" data-id="<%=order._id%>">
                                <span class="glyphicon glyphicon-remove"></span>
                                <i class="fa fa-close"></i>
                            </button>
                            </a>
                        </td>
                        <%}else{%>
                        <%}%>
                    </tr>
                    <% }) %>
                    <% }) %>
                    <%}%>
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
table{
   margin: 0 auto
}
</style>